@use "../../../variables" as *;

.team {
  margin-top: 80px;

  &__heading h2 {
    margin-top: 20px;
    font-size: 29px;
    font-weight: 700;
    color: $text;
  }



  &__grid {
    margin-top: 40px;
    display: grid;
    gap: 30px;
  }

}
