@use "../../../variables" as *;

.services {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  flex-direction: column;

  &__heading {
    h2 {
      margin-top: 15px;
      font-size: clamp(2rem, 4vw, 3.1rem);
    }
  }

&__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}


}
