@use "../../../variables" as *;

.gallery {
  margin-top: 80px;

  &__heading {
    margin-bottom: 40px;

    h2 {
      font-size: 29px;
      font-weight: 700;
      color: $text;
    }
  }

  &__grid {
    display: grid;
    gap: 30px;

&__item {
  overflow: hidden;
  border-radius: 24px;
  border: 1px solid $line;
  box-shadow: $shadow;
  background: $bg-soft;

  img {
    height: 280px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(1.03);
  }
}


  }

  
}